*{
    margin: 0;
    font-family: 'Open Sans', sans-serif
}
/* header and navigation styles*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-orange{
    color: #FD6E0A;
}
.btn-orange{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    height: 64px;
}
.header{
    background-color:  #FFFFFF;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
    width: 1600px;
}

/* banner styles */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 26px;

}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 11px;    
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* main section */
.main{
    max-width: 1140px;
    
    
}

/* about section styles */

.about{
margin-top: 130px;
background: #FFF8F3;
border-radius: 10px;
padding: 100px 120px;
align-items: center;
margin-left: 230px;
text-align: center;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container{
display: flex;
justify-content: space-around;
}
.about-info{
    font-size: 20px;
   

}
.info-title{
    color: #757575;
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    

}